@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: raster;
  src: url(/raster.ttf);
  font-display: swap;
}

@font-face {
  font-family: fixedsys;
  src: url(/FSEX300.ttf);
  font-display: swap;
}

@keyframes desktop-icon-appear {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.desktop-icon-appear {
  animation: desktop-icon-appear 0.5s;
}

.transition05 {
  transition:all 0.5s;
}

body {
  font-family: raster;
  box-sizing: border-box;
  overscroll-behavior: contain;
  @apply bg-color2
}

body, html, #__next {
  height: 100%!important;
}

.test {
  color:#313435;
}

.fade {
  opacity: 0;
  transform: rotateX(90deg);
}